%select{:id=>"route_vehicle_id", :name=>"route[vehicle_id]"}
  - brands = @brands #Band.all.pluck(:name)
  - #debugger
  - unless brands.empty?
    - brands.each do |maker|
      %option{selected: params[:vehicle_id] == "#{maker[:brand]}", value:"#{maker[:brand]}" } #{maker[:brand]}