%select{:id=>"route_vehicle_id", :name=>"route[vehicle_id]"}
  - brands = Vehicles.all.pluck :brand #Band.all.pluck(:name)
  - unless brands.empty?
    - brands.each do |brand|
      %option{selected: params[:vehicle_id] == "#{vehicle.id}", value:"#{vehicle.id}" }