// Place all the styles related to the route controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  color: white;
}

.action-btn{
  height: 100%;
  width: 100%;
}

.nav-search{
  margin-bottom:0px;
}

.navbar{
  margin-bottom: 5px;
}

.pagination{
  margin-bottom:0px;
  margin-top:5px;
}

.btn-group{
  margin-left: 4px;
}