// Place all the styles related to the route controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
  color: white;
}

.action-btn{
  height: 100%;
  width: 100%;
}

.nav-search{
  margin-bottom:0px;
}

.navbar{
  margin-bottom: 5px;
}

.pagination{
  margin-bottom:0px;
  margin-top:5px;
}

.btn-group{
  margin-left: 4px;
}

.btn.btn-primary {
    margin-left: 361px;
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; background-color:#666; color:white; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }